<div>
  <div>
    <h1>
      List of all dogs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new dog
    </h2>

    <form action="/insert_dog" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="photo">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control">
      </div>

      <button>
        Add new dog
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>

        <th>
          Name
        </th>

        <th>
          Photo
        </th>

        <th>
          Owner
        </th>

        <th>
          Appointments count
        </th>


        <th>
        </th>
      </tr>

      <% @list_of_dogs.each do |a_dog| %>
      <tr>
   
        <td>
          <%= a_dog.name %>
        </td>

        <td>
          <img src="<%= a_dog.photo %>" class="img-responsive">
        </td>

        <td>
          <%= a_dog.owner.username %>
        </td>

        <td>
          <%= a_dog.appointments_count %>
        </td>

        <td> 
          <% time_ago_in_words(a_dog.created_at) %> 
        </td>
        <td>
          <% time_ago_in_words(a_dog.updated_at) %>
        </td>

        <td>
          <a href="/dogs/<%= a_dog.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
