<div>
  <div>
    <h1>
      Dog #<%= @the_dog.id %> details
    </h1>

    <div>
      <div>
        <a href="/dogs">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_dog/<%= @the_dog.id %>">
          Delete dog
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_dog.name %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_dog.owner.username %>
      </dd>

      <dt>
        Appointments count
      </dt>
      <dd>
        <%= @the_dog.appointments_count %>
      </dd>

      <%# <dt>
        Created at
      </dt> %>
      <%# <dd>
        <% time_ago_in_words(@the_dog.created_at) %> 
      <%# </dd> %> 

      <%# <dt>
        Updated at
      </dt> %>
      <%# <dd>
        <%= time_ago_in_words(@the_dog.updated_at) %> 
      <%# </dd> %> 
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit dog
    </h2>

    <form action="/modify_dog/<%= @the_dog.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_dog.name %>">
      </div>

      <div>
        <label for="owner_username_box">
          Owner
        </label>

        <input type="text" id="owner_username_box" name="query_owner_username" value="<%= @the_dog.owner.username %>">
      </div>

      <button>
        Update dog
      </button>
    </form>
  </div>
</div>

<hr>
