<% if @current_homo_sapien != nil %>

<div>
  <div>
    <h1>
      More details about <%= @the_dog.name %>
    </h1>

    <div>
      <div>
        <a href="/dogs">
          Go back
        </a>
      </div>

    <% if @current_homo_sapien.id == @the_dog.owner_id%>

      <div>
        <a href="/delete_dog/<%= @the_dog.id %>">
          Delete dog
        </a>
      </div>
    </div>

    <% end %>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_dog.name %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <img src="<%= @the_dog.photo %>" class="img-responsive">
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_dog.owner.username %>
      </dd>


    </dl>
  </div>
</div>

<% if @current_homo_sapien.id == @the_dog.owner_id%>

<hr>

<div>
  <div>
    <h2>
      Edit dog
    </h2>

    <form action="/modify_dog/<%= @the_dog.id %>"  method="post" class="form-horizontal" enctype="multipart/form-data">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_dog.name %>">
      </div>

      <div>
        <label for="photo">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control" value="<%= @the_dog.photo %>">
      </div>

      <button>
        Update dog
      </button>
    </form>
  </div>
</div>

<% end %>

<% else %>

You must be signed in to view more details.

<% end %>
<hr>
