<% if @current_homo_sapien != nil %>

<div>
  <div>
    <h1>
      All appointments <i class="fas fa-calendar-check"></i>
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Request a dog watcher
    </h2>

    <form action="/insert_appointment" method="post">
      <div>
        <label for="start_date_box">
          Start date
        </label>

        <input type="datetime-local" id="start_date_box" name="query_start_date">
      </div>

      <div>
        <label for="end_date_box">
          End date
        </label>

        <input type="datetime-local" id="end_date_box" name="query_end_date">
      </div>

      <div>

      <select name="query_dog_id" id="dogs">

      <% @current_homo_sapien.dogs.each do |a_dog| %>
        <option value=<%= a_dog.id %>><%=a_dog.name %></option>
      
      <% end  %> 

      </select>

      </div>


      <button>
        Create appointment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table table-bordered table-hover">
      <tr>
        <th scope="col">
          Dog name
        </th>
        
        <th scope="col">
          Dog owner
        </th>

        <th scope="col">
          Start date
        </th>

        <th scope="col">
          End date
        </th>

        <th scope="col">
        Total # days
        </th>

        <th scope="col">
          Created
        </th>

        <th scope="col">
          Updated
        </th>

        <th scope="col">
          Dog watcher
        </th>

        <th scope="col">
        More details
        </th>
      </tr>

      <% @list_of_appointments.each do |an_appointment| %>
      <tr>
        
        <td>
          <%= an_appointment.dog.name %>
        </td>

        <td>
          <%= an_appointment.dog_owner.username%>
        </td>

        <td>
          <%= an_appointment.start_date.strftime("%b. %e, %Y %I:%M%P") %>
        </td>

        <td>
          <%= an_appointment.end_date.strftime("%b. %e, %Y %I:%M%P") %>
        </td>

        <td>
        <%= an_appointment.end_date.day - an_appointment.start_date.day %>
        </td>

        <td>
          <%= time_ago_in_words(an_appointment.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_appointment.updated_at) %> ago
        </td>

        <td>
      <% if @current_homo_sapien.id == an_appointment.dog_owner.id %>
      Still waiting for help!

      <% elsif an_appointment.dog_watcher_id == nil %>
      
      <form action="/signup_to_watch/<%= an_appointment.id %>">        
        <button type="submit" >
          Sign up to watch!
        </button>
      </form>

      <% else %>

      <%= an_appointment.dog_watcher.username %>

       <% end  %> 

        </td>

        <td>
          <a href="/appointments/<%= an_appointment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<% else %>

You must be signed in to view Appointments.

<% end %>
