<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

<%= notice %>
<%= alert %>

<% if @current_homo_sapien != nil %>
You are currently signed in as <%= @current_homo_sapien.username %>

<% else %>

You are currently not signed in.

<% end %>

  <ul>
    <li>
      <a href="/">Home</a>
    </li>

    <li>
      <a href="/appointments">Appointments</a>
    </li>

    <li>
      <a href="/dogs">Dogs</a>
    </li>

  <% if @current_homo_sapien == nil %>

    <li>
      <a href="/homo_sapien_sign_up">Sign up</a>
    </li>
    
    <li>
      <a href="/homo_sapien_sign_in">Sign in</a>
    </li>
  
  <% else %>
    <li>
      <a href="/edit_homo_sapien_profile">Edit user profile</a>
    </li>
    
    <li>
      <a href="/homo_sapien_sign_out">Sign out</a>
    </li>
  
  <% end %>


  </ul>
    <%= yield %>
  </body>
</html>
